/* Use the variables */
$primary-color: #9b1c31;
$secondary-color: #565f66;

.custom-link {
    color: $primary-color;
    text-decoration: none;
}

.custom-link:hover{
    text-decoration: underline;
}